DerivedData/Social Network/Build/Intermediates.noindex/Social Network.build/Debug-iphoneos/Social Network.build/dgph
DerivedData/Social Network/Build/Intermediates.noindex/Social Network.build/Debug-iphoneos/Social Network.build/Social Network-all-non-framework-target-headers.hmap
DerivedData/Social Network/Build/Intermediates.noindex/Social Network.build/Debug-iphoneos/Social Network.build/Social Network-all-target-headers.hmap
DerivedData/Social Network/Build/Intermediates.noindex/Social Network.build/Debug-iphoneos/Social Network.build/Social Network-generated-files.hmap
DerivedData/Social Network/Build/Intermediates.noindex/Social Network.build/Debug-iphoneos/Social Network.build/Social Network-own-target-headers.hmap
DerivedData/Social Network/Build/Intermediates.noindex/Social Network.build/Debug-iphoneos/Social Network.build/Social Network-project-headers.hmap
DerivedData/Social Network/Build/Intermediates.noindex/Social Network.build/Debug-iphoneos/Social Network.build/Social Network.hmap
DerivedData/Social Network/Build/Intermediates.noindex/Social Network.build/Debug-iphoneos/Social Network.build/swift-overrides.hmap
DerivedData/Social Network/Build/Intermediates.noindex/Social Network.build/Debug-iphoneos/Social Network.build/Objects-normal/arm64/Social Network-OutputFileMap.json
DerivedData/Social Network/Build/Intermediates.noindex/Social Network.build/Debug-iphoneos/Social Network.build/Objects-normal/arm64/Social Network.LinkFileList
Social Network.xcodeproj/xcuserdata
